@reference "tailwindcss";

html {
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

:root {
  --content-size: 3.8
}

::-moz-selection {
    color: white;
    @apply bg-primary;
}

::selection {
    color: white;
    @apply bg-primary;
}

*::-webkit-scrollbar {
    position: fixed;
    left: 0;
    background: transparent;
    border: none;
    width: 7.5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-track:hover {
    background-color: transparent
}

*::-webkit-scrollbar-thumb {
    @apply bg-primary;
}

*::-webkit-scrollbar-thumb:hover {
    opacity: .9;
}

body::-webkit-scrollbar-track {
    @apply bg-transparent;
}

body::-webkit-scrollbar {
    @apply w-0 h-0 bg-transparent;
}

body::-webkit-scrollbar-thumb {
    @apply bg-transparent;
}

.base-height {
    height: calc(100vh - 85px);
    min-height: calc(100vh - 85px);
    max-height: calc(100vh - 85px);
}